html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0px 20px;
}

.heading{
    text-align: center; 
}

#gif-form{
    padding-bottom:20px;
}

label{
    font-size: 18px;
}

input[type="submit"]{
    color: #fff;
    background-color: #2480fe;
    padding: 8px 18px;
    border-radius: 3px;
    border: none;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    font-size: 15px;
}

input[type="submit"]:hover{
    opacity: .8;
}

input[type="text"]{
    font-size: 16px;
    color: rgb(112, 112, 112);
}

select{
    font-size: 16px;
}

.rating{
    color: red;
    padding-top: 20px;
}

#gifs-buttons{
    margin: 0 auto;
    text-align: center;
}

#gifs-view{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gifDiv{
    padding: 20px;
}

.gifDiv img{
    max-width: 300px;
}